/* styles */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.links{
    text-decoration: none;

}
.back_color {
    background-image: url("https://cdn.leonardo.ai/users/a5bcedaf-b247-4a8e-971b-efaa8dd8b1e6/generations/64fb68c2-3a80-4027-9ba8-e153d63ec5ee/Default_Create_an_image_to_serve_as_a_simple_clean_background_1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


.score_bord {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;


}

.center_text {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%; 
    text-align:center;
    font-size: 40px;
    font-weight: bold;
    color: black;
    font-size: 50px;
}

.score_bord .team1,
.score_bord .team2
 {
    display: flex;
    align-items: center;
}

.score_bord .team1 span,
.score_bord .team2 span {
    margin-right: 10px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.score_bord .score {
    background-color: gray;
    padding: 5px 10px;
    border-radius: 5px;

}

.container1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 80px; /* Adjust margin to prevent overlap with fixed navbar */
}

.row1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.column1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.5; /* Change appearance to indicate it's disabled */
}


.box {
    background-color: #e0e0e0;
    border: 1px solid #000;
    border-radius: 20px;
}

.box.white {

    background-color: rgb(181, 247, 0);
    width: 400px;
    height: 75px;
}

.box.black {
    background-color:rgb(63, 255, 63);
    width: 180px;
    height: 70px;
    color: black;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.flag_image{
    background-image: url("flags_background.jpg");
    background-size: cover;
}
.sflag_image{
    background-image: url("web_page_background.jpg");
    background-size: cover;
}

.islam_image{
    background-image: url("https://t4.ftcdn.net/jpg/02/81/41/97/360_F_281419725_ZOnesn844OP4PgwI48ilMOVIUNsBzC5P.jpg");
    background-size: cover;
}

.kuwait_image{
    background-image: url("https://media.istockphoto.com/id/1066837888/photo/vibrant-sunset-over-kuwait-city.jpg?s=612x612&w=0&k=20&c=eOXBZBjUps0BvB6BNnz1_fZnHCnUazYb3RB9uEY8t34=");
    background-size: cover;
}
